---
layout: default
title:
description: 
keywords: 
---
<section class="lotus-logo fn-clear">
    <hgroup class="violet-site">
        <h1><a href="{{ site.url }}" >{{ site.title }}</a></h1>
        <h2>{{ site.subTitle }}</h2>
    </hgroup><!-- //violet-site -->
</section>
<article class="lotus-article">
{% for rpost in paginator.posts %}
    <h3><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h3>
    <p class="description" itemprop="description">{{ rpost.description }}</p>
{% endfor %}
</article>

<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">&lt;</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">&lt;</a>
      {% endif %}
    </p>
  {% else %}
    <p class="previous disabled">
      <span>&lt;</span>
    </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="index/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
    <p class="next">
      <a href="{{ paginator.next_page_path }}">&gt;</a>
    </p>
  {% else %}
    <p class="next disabled">
      <span>&gt;</span>
    </p>
  {% endif %}

</div>
<section class="lotus-double fn-clear">
    <article class="article article-first">
    <h3>最新文章</h3>
        <ul>
            {% for npost in site.posts limit:3  %}
            <li><a href="{{ npost.url }}" pubdate="{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}" title="{{ npost.title }}" rel="bookmark">{{ npost.title }}</a></li>
            {% endfor %}
        </ul>
    </article>
    <article class="article article-last">
	<h3>标签</h3>
	<ul>
{% for tag in site.tags %}
    <li><a href="/tags_index.html?tag={{ tag[0] }}"> {{ tag[0] }}</a></li>
{% endfor %}
</ul>
    <h3>相关页面</h3>
    <ul>
        <li>
            {% for page in site.page %}
            <a href="{{ page.url }}" rel="bookmark" title="{{page.text}}">{{ page.text }}</a>
            {% if !page.last %}
                <span class="lotus-squ">|</span>
            {% endif %}
            {% endfor %}
        </li>
    </ul>
    </article>
</section>